body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
/* Estilo para centrar el enlace "Inicio" en la barra de navegación */

h1 {
    margin-left: 5em; /* Ajusta el espacio entre el título y el enlace "Inicio" */
    font-size: 24px; /* Ajusta el tamaño del título */
    color: #333; /* Cambia el color del título si es necesario */
}

/* Estilo para centrar el título "Contacto" */
.text-center {
    text-align: center;
}

/* Estilo para el contenido del inicio */
.inicio-content {
    text-align: center;
    margin-top: 40px;
}

.inicio-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #EC7000; /* Naranja apagado */
}

.inicio-description {
    font-size: 18px;
    color: #333;
}

  /* Estilo para el título "Contacto" en el navbar */
  .contacto-link {
    font-size: 20px;
    font-weight: bold;
    color: #333; /* Negro */
}
.navbar{
    background-color: #EC7000;
    height: 100px;
}

.navbrand-img{
    width: 300px;
}

.mainlinks{
    display: flex;
    justify-content: center;
    
}

.navicons{
    display: flex;
    gap: 30px;
    
}

.menu1{
    padding-left: 60px;
    padding-right: 20px;
}

.navbar-nav .nav-link {
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
    
  }
/* ///////// */


/* Para centrar verticalmente el contenido en la página */
.container {
    min-height: 100vh;
}

/* Estilos adicionales para el formulario, puedes personalizarlo según tus necesidades */
.text-center h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.banner {
    background-color: #EC7000; /* Naranja apagado */
    text-align: center;
    padding: 20px;
}

.banner h1 {
    color: #fff;
    font-size: 32px;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.img-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
}

.img-container img {
    max-width: 100%;
    border-radius: 10px;
}

.form-section {
    flex: 1; /* Ocupa el espacio restante */
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 20px;
}

.contact_form {
    text-align: center;
}

.formulario h3 {
    color: #EC7000; /* Naranja apagado */
    font-size: 24px;
    margin-bottom: 10px;
}

.p-form {
    margin-bottom: 20px;
}

.p-form label {
    font-size: 18px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.p-form input,
.p-form textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.p-form textarea {
    resize: vertical;
    min-height: 120px;
    
}


.sendbutton {
    width: 50%;
    background-color: #EC7000; /* Naranja apagado */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.aviso {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}


/* Footer */

.footer1 {
    background-color: hsl(0, 0%, 36%);
    font-size: 20px; 
    padding: 10px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
    position: relative;

    /* BORRAR ESTO */
    margin-top: 200px;
}

.biciimg {
  

    position: absolute;
    bottom: 62%; /* Ajusta esta propiedad para controlar cuánto sobresale la imagen del footer */
    left: 60%;
    transform: translateY(-75%);

}

.imgbike{
    width: 350px;
}

.iconandmedias{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

.logofooter{
    grid-column: 1;
    justify-self: start;
}

.balogo2{
    grid-column: 2;
    justify-self: start;
}

.socialmedia{
    grid-column: 6;
}

.othersinfooter{
    display: grid;
    grid-template-columns: repeat(12, 1fr); ;
    align-items: center;
    padding-bottom: 50px;
    gap: 30px;
}

.ba147{
    grid-column: span 2;
}

.bajoven{
    grid-column: 10;
    
}

.bajovenimg{
    width: 90px;
}

.utn{
    grid-column: 11;
}

.utnimg{
    width: 60px;
}

.ecobici{
    grid-column: 12;
}

.ecobiciimg{
    width: 60px;
}

.divider {
    
    margin: 2.5rem 0;
}

.proceso {
    padding-bottom: 15px;
}

.copyright{
    padding-bottom: 15px;
}

.writes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 15px;
    font-size: 14px;    
}

.foottext {
    position: relative;
}

.writtenby {
    justify-self: start;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.linkwrittenby{
    text-decoration: none;
    color: white;
}

.linkwrittenby:hover{
    transition: 0.5s;
    color: rgb(0, 255, 255);
}

.integral{
    justify-self: start;
}
.mediaicon {
    color:hsl(216, 85%, 39%);
    transition: color .5s;
  }
  
.mediaicon:hover {
  color: aliceblue!important; 
}

/* /////////////////////////// */


/* ZONA RESPONSIVE MAX-WIDTH 720PX */

@media (max-width: 720px) {

    /* Navbar */
  

    .navbrand-img{
        width: 100px;
        content: url(/IMG/Ecobicilogosmall.png);
        margin-left: 20px;
    }

    .navicons{
        display: none;
    }

    .menu1{
        display: flex;
        justify-content: center;
    }


 
    /* Main Presentacion */

    .separator{
        width: auto;
    }

    .parrafo-principal1{
        margin-left: 20px;
        margin-right: 20px;

    }
    /* /////////////// */

    /* Card Profile */

    .main-card{
        display: flex;
        max-width: 516px;
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }
    .profile-picture {
        display: flex;
        justify-content: center;
        padding: 40px 40px 0px 40px;
    }

    .profile-data{
        text-align: center;
        padding-top: 10px;
        
    }

    .cargo {
        padding-bottom: 10px;
    }

    .contentprofile-data{
        text-align: center;
        padding-bottom: 10px;
    }




    /* footer */

    .footer1 {
        font-size: 20px;
        position: relative;       
    }

    .containerofgrids{
        display: block;
        justify-content: center;
    }

    .iconandmedias {
        display: flex;
    flex-flow: row wrap;
        /* display: block; */
        justify-content: center;
        align-items: center;
        gap: 50px;
        
    }


    .othersinfooter {
        display: flex;
    flex-flow: row wrap;
    justify-content: center;

        /* display: grid;
        grid-template-columns: 1fr;
        justify-content: center; */
        align-items: center;
    }

    .otherslink {
        padding-bottom: 10px;
    }

    .writes {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .logofooter {
        justify-self: unset;
        max-width: 80%;
        height: auto;
    }

    .socialmedia {
        padding-top: 10px;
        margin-top: 10px;
    }

    .integral{
        justify-self: initial;
    }

    .writtenby {
        justify-self: initial;
    }

    .biciimg {
  
        position: absolute;
        /* Ajusta esta propiedad para controlar cuánto sobresale la imagen del footer */
        
        bottom: 97%; 
        left: 20%;
        transform: none; 
        justify-content: center;
    
    }

    .imgbike {
        max-width: 100%;
        height: auto;
    }

    /* ///////// */
}

/* /////////// */

/* ZONA RESPONSIVE MIN WIDTH 721PX MAX-WIDTH 1120PX */

@media screen and (min-width:721px) and (max-width: 1120px) {

    /* Footer */
    .containerofgrids{
            display: block;
            justify-content: center;
        }
    
        .iconandmedias {
            display: block;
            justify-content: center;
            align-items: center;
        }
    
        .othersinfooter {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
        }
    
        .otherslink {
            padding-bottom: 10px;
        }
    
        .writes {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
        }
    
        .logofooter {
            justify-self: unset;
            max-width: 80%;
            height: auto;
        }
    
        .socialmedia {
            padding-top: 10px;
            margin-top: 10px;
        }
    
        .integral{
            justify-self: initial;
        }
    
        .writtenby {
            justify-self: initial;
        }

        /* ////////////// */
    
    }

    /* /////////////////// */

/* Estilos para pantallas más pequeñas (responsive) */
@media screen and (max-width: 600px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .img-container {
        margin-right: 0; /* Eliminamos el margen a la derecha */
    }
    .form-section {
        margin-top: 0;
    }
}
