body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 80vh; /* Ajustar altura del video */
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-foreground {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.video-foreground iframe {
    width: 100%;
    height: 100%;
}

.login-form {
    position: absolute;
    top: 30%; /* Ajustar posición vertical del formulario */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.login-form h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.buttonlogin {
    background-color: #EC7000; /* Naranja apagado */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.buttonlogin:hover {
    background-color: #ff8533; /* Naranja más claro */
}